/* Change background image to reflect purpose/scope of project */
body {
    background: #ffdab9;
}

.header , .footer{
    text-align: center;
    overflow: hidden;
    background-color: darkgreen;
    padding: 20px 10px;
}

.header a , .footer a{
    display: inline-block;
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    border-color: #9e1922;
}

.header a:hover , .footer a:hover {
    background-color: darkred;
    color: black;
}

.header a:active , .footer a:active {
    background-color: blue;
    color: white;
}

h1 {
    font-family: sans-serif;
    font-size: 12pt;
    text-align: center;
    color: #9e1922;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    text-align: center;
    color: #9e1922;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    text-align: center;
    color: #9e1922;
}

h4 {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 12pt;
    text-align: center;
    color: #9e1922;
}

h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12pt;
    text-align: center;
    color: #9e1922;
}

h6 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 12pt;
    text-align: center;
    color: #9e1922;
}

