/* Remove underline from all link states */
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none; /* Removes underline */
}

/* Home page style and adjacent*/
.bio {
text-algin: center;
width: 500px;
}
